%h3 Dziękujemy Ci #{@friend.email}
%p
  #{@friend.umbrella.user.email} na pewno będzie Ci wdzieczny.
  Jeśli chciałabyć/chciałbyś i Ty skorzystać z naszej pomocy i poznać swoje mocne strony,
  po prostu kliknij #{link_to 'tutaj', root_path}
