<!DOCTYPE html>
<html>
<head>
  <title>The page you were looking for doesn't exist (404)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>
  .rails-default-error-page {
    background-color: #EFEFEF;
    text-align: center;
    font-family: arial, sans-serif;
    margin: 0;
  }

  .rails-default-error-page div.dialog {
    width: 95%;
    max-width: 35em;
    margin: 15em auto 0;
  }
  </style>
</head>
<body class="rails-default-error-page">
  <div class="dialog">
    <div>
      <h1>404</h1>
      <p><%= I18n.t('errors.404_message') %></p>
    </div>
  </div>
</body>
</html>
